ul {
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    column-count: 2;
    column-gap: 5px;
}

li {
    list-style-image: url('../../../Assets/Images/arrow-circle-right-solid.svg');

}