.ProjDesc {
    text-decoration: none;
    color:#222831;
}

.Cards { 
    padding: 4rem;
    background: #fff;
}

.TitleText {
    text-align: center;
}

.CardsContainer { 
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.CardsWrapper {
    position: relative;
    margin: 50px 0 45px;
}

.CardsItems {
    margin-bottom: 24px;
}

.CardsItem { 
    display: flex;
    flex: 1;
    margin: 0 1rem;
}

.CardsItemAnchor { 
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56,125,255,0.3);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.3));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.3));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none !important;
}

.CardsItemPic { 
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.CardsItemPic::after { 
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #222831;
    box-sizing: border-box;
}

.CardsItemImg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 50%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.CardsItemImg:hover {
    transform: scale(1.1);
}

.CardsItemInfo {
    padding: 40px 60px 60px;
}

.CardsItemText {
    color: #222831;
    font-size: 18px;
    line-height: 24px;
}

.Btn {
    color: #222831 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #fff;
    padding: 20px;
    border: 3px solid #222831 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.Btn:hover {
    color: #FFF !important;
    background: #222831;
    border-color: #222831 !important;
    transition: all 0.4s ease 0s;
}




@media only screen and (min-width: 1200px) {
    .ContentContainer {
        width: 84%;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 1024px) {
    .CardsItems {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .CardsItem {
        margin-bottom: 2rem;
    }
}
