.ResumeContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.ResumeWrapper {
  position: relative;
  margin: 50px 0 45px;
}

.Heading {
  text-align: center;
}

.ResumeItem {
  display: flex;
  flex: 2;
  margin: 0 1rem;
  border-radius: 10px;
}

.ResumeItems {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .ResumeItem {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .ResumeItem {
    width: 80%;
  }
}


@media only screen and (min-width: 635px) {
    .ResumeItem {
      width: 80%;
    }
  }
  