.Card {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}

.Text {
  color: #7c7c7c;
}

.Header {
  font-size: 1.5rem;
  text-align: center;
  color: #222831;
}

.Subtitle {
  text-align: center;
  color: #3772FF;
}

@media only screen and (min-width: 768px) {
  .Card {
    width: 50%;
  }
}
