.BackgroundContainer {
  background: url("../../../Assets/Images/SeoulBG.jpg") center center/cover
    no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    justify-content: center;
}

.BackgroundContainer > h1 {
  color: white;
  font-size: 80px;
}

.BackgroundContainer > h3 {
  color: white;
  font-size: 30px;
  margin-bottom: -5px;
}

.BackgroundContainer > p {
  color: white;
  font-size: 32px;
  margin-top: 8px;
}

.TypingEffect {
  color: #BBBFCA;
  font-size: 25px;
  margin-top: 0px;
}
